body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: black;
    background-image: url('images/metropolia_kesa4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#periodFirst {
    position: absolute;
    width: 104%;
    top: 0;
    left: 0;
}

#periodSecond {
    position: absolute;
    width: 104%;
    top: 0;
    left: 106%;
}

#periodThird {
    position: absolute;
    width: 104%;
    top: 0;
    left: 212%;
}

#periodFourth {
    position: absolute;
    width: 100%;
    top: 0;
    left: 318%;
}

#courseBox {
    border: 3px solid purple;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
}

#courseBox:hover {
    border: 3px solid rebeccapurple;
}

#login-registration {
    display: none;
}

#actual_content {
    position: relative;
    width: 23.92%;
}

#login-form {
    border: 3px solid gray;
    padding: 16px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#registration-form {
    border: 2px solid gray;
    padding: 16px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

h3 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    display: inline-block;
}

h4 {
    width: 94%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 26px;
    display: inline-block;
}

.container {
    max-width: 100%;
    padding: 1em;
}

button:hover{
    background-color: purple;
    color: white;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] ~ label {
    cursor: pointer;
    background: purple;
    height: 30px;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 5px 1px;
    padding-top: 10px;
}

input[type=checkbox] ~ label:hover {
    background-color: rebeccapurple;
}

input[type=checkbox]:checked ~ label ~ .content {
    opacity: 0;
    height: 0;
    display: none;
}
.content {
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
    display: block;
    clear: both;
    border-radius: 10px;
    color: white;
}

img {
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

#myBtn, #myBtnCopy {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 9%;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#myBtn:hover, #myBtnCopy:hover {
    background-color: rebeccapurple;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.myBtn2 {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 10%;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;
    display: none;
}

.myBtn2:hover {
    background-color: rebeccapurple;
}

.myBtn3 {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 8%;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;
}

.myBtn3:hover {
    background-color: rebeccapurple;
}

#myBtn4 {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

#myBtn4:hover {
    background-color: rebeccapurple;
}

#myBtn5 {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

#myBtn5:hover {
    background-color: rebeccapurple;
}