body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: black;
    background-image: url('images/metropolia_kesa4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#periodFirst {
    position: absolute;
    width: 104%;
    top: 0;
    left: 0;
}

#periodSecond {
    position: absolute;
    width: 104%;
    top: 0;
    left: 106%;
}

#periodThird {
    position: absolute;
    width: 104%;
    top: 0;
    left: 212%;
}

#periodFourth {
    position: absolute;
    width: 100%;
    top: 0;
    left: 318%;
}

#courseBox {
    border: 3px solid purple;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
}

#courseBox:hover {
    border: 3px solid rebeccapurple;
}

#login-registration {
    display: none;
}

.light-border {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    font-family: Verdana;
    color: white;
}

#actual_content {
    position: relative;
    width: 23.92%;

}

label {
    color: white;
    font-size: 18px;
}

#login1 {
    position: absolute;
    top: 10.7%;
    right: 11.9%;
}

#login2 {
    margin-left: 12.4%;
}

#log {
    border: 3px solid darkslateblue;
    padding: 16px;
    border-radius: 10px;
    width: 16%;
    float: left;
    margin-left:28%;
    text-align: center;
}

#reg {
    border: 3px solid darkslateblue;
    padding: 16px;
    border-radius: 10px;
    width: 16%;
    float: right;
    margin-right: 28%;
    text-align: center;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

h3 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    display: inline-block;
}

h4 {
    width: 94%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 26px;
    display: inline-block;
}

.container {
    max-width: 100%;
    padding: 1em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] ~ label {
    cursor: pointer;
    background: purple;
    height: 30px;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
    margin: 5px 1px;
    padding-top: 10px;
}

input[type=checkbox] ~ label:hover {
    background-color: rebeccapurple;
}

input[type=checkbox]:checked ~ label ~ .content {
    opacity: 0;
    height: 0;
    display: none;
}
.content {
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
    display: block;
    clear: both;
    border-radius: 10px;
    color: white;
}

img {
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

#myBtn, #myBtnCopy {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 10%;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#myBtn:hover, #myBtnCopy:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.myBtn2 {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 10%;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;
    display: none;
}

.myBtn2:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

.myBtn3 {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 10%;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;

}

.myBtn3:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

#myBtn4 {
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-top: 12px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

#myBtn4:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

#myBtn5 {
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-top: 12px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
}

#myBtn5:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

#myBtn6 {
    position: fixed;
    top: 30px;
    right: 200px;
    width: 10%;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    z-index: 99;

}

#myBtn6:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;

}

.modal-content {
    background-color: rgba(0,0,0,0.6);
    margin: 0.6% 77.55% auto;
    border: 3px solid darkslateblue;
    width: 20.4%;
    border-radius: 10px;
}

.modalBtn {
    background-color: darkslateblue;
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.modalBtn:hover {
    background-color: rebeccapurple;
    padding: 15px;
    font-size: 22px;
}

.modalForm {
    border-radius: 10px;
    font-size: 18px;
    font-family: Verdana;
    width: 92%;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}